$myOrange: rgb(173, 129, 6);

#container {
  position: relative;
  display: block;
  padding-bottom: 10px;

  .hide_when_print {
    color: $myOrange;
    background-color: white;
    padding: 10px;

  }

  .button_top {
    border: 0;
    border-radius: 3px;
    padding: 5px;
    min-width: 60px;
    margin-right: 5px;
    transition: all 200ms;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    &:hover {
      background-color: $myOrange;
      color: white;
    }
    &:first-of-type {
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
    }
  }
}

