$myOrange : rgb(173, 129, 6);

#app_div {
    padding: 20px;
    width: 1000px !important;
    min-height: 1250px !important;
    background-color: hsl(0,0,100%);
    display: flex;
    font-size: 15px;
    .clear-float {
        clear: both;
    }

    .seperate {
        margin-top: 5px;
        font-weight: bold;
        font-size: 15px;
        font-family: monospace;
        text-transform: uppercase;
        padding-bottom: 4px;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }
    .border-bottom {
        border-bottom: 6px solid grey;
    }

    #brief_personal_info,#column_seperate,#history_project {
        float: left;
        display: block;
    }

    #column_seperate {
        width: 2%;
    }
    
    .title_level {
        display: flex;
        
        .empty {
            min-width: 40%;
            min-height: 30px;
        }

        .title {
            min-width: 60%;
            display: flex;
            justify-content: space-between;
        }
    }

    #brief_personal_info {
        text-align: left;
        width: 40%;
        
        .my_name {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 2rem;
        }

        .basic_information {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
        
            .info_div {
                width: 70%;
                .info_list {
                    padding-left: 20px;
                    padding-right: 5px;
                    li { 
                        margin-top: 5px;
                        b {
                            margin-right: 3px;
                        }
                    }
                }
            }

            .image_represent {
                margin-top: 20px;
                .image_profile {
                    width: 140px;
                    border-radius: 10px;
                }
            }
        }

        .brief_introduction {
            padding: 10px 0;
            text-align: justify;
        }

        .contact_info {
            padding: 10px 0;
            text-align: left;
            .contact_item {
                display: flex;
                padding: 10px 0;
                border-bottom: 1px solid;
                .icon {
                    padding: 0 10px;
                    font-size: larger;
                }
            }
        }

        .skill_info {
            padding: 10px 0;
        }

        .languages_info {
            padding: 10px 0 10px 0;
        }
        .devops_management_skills {
            padding: 10px 0 0 0;
        }
    }

    #history_project {
        width: 58%;
        
        .working-target-desire {
            padding: 10px 0 5px 0;
            text-align: justify;
            .quote {
                text-transform: uppercase;
                font-size: larger;
                font-weight: bold;
                color: $myOrange;
            }
            .description {
                p {
                    margin: 10px 0 5px 0;
                }
            }
        }


        .follow-me-div {
            width: 100%;
            .follow-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid ;
                padding-top: 8px;
                padding-bottom: 5px;
                color: black;
                text-decoration: none;
                .icon {
                    font-size: 1.2rem;
                    img {
                        width: 20px;
                    }
                }
                .link {
                    a {
                        text-decoration: none;
                        color: black;
                        transition: color 200ms;
                        &:hover {
                            color: $myOrange;
                        }
                    }
                }
            }
        }
    }
}